.menu-item {
    box-sizing: border-box;
    height: 300px;
    background-color: azure;
    width: 49%;
    border: none;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-box-shadow: inset -1px -1px 40px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset -1px -1px 40px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset -1px -1px 40px 3px rgba(0, 0, 0, 0.35);
}

.content {
    border: 1px solid #000;
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
    background-color: #bdbdbdd1;
}