.product-card{
    box-sizing: border-box;
    height: 400px;
    width: 90%;
    cursor: pointer;
    position: relative;

    &-image{
        height: 80%;
        width: 100%;
        background-color: rgb(87, 86, 86);
    }

    &-details{
        height: 20%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 20px;
        font-weight: 700;
    }
}

