.addToCart{
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 126px;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
}