$navbar_height: 70px;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  width: 100%;
  height: $navbar_height;
  background-color: #333;
  margin-bottom: 20px;

  .navbar {
    width: 80%;
    margin: auto;
    height: 100%;

    &-logo-container {
      width: 20%;
      height: 100%;
      float: left;

      img {
        height: 100%;
      }
    }

    &-menu {
      width: 80%;
      height: 100%;
      float: right;
      color: #fff;

      &-ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        &-li {
          cursor: pointer;
          padding: 0px 16px;

          &:hover span {
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.cart-logo {
  position: relative;
  span {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    top: -2px;
    left: 16px;
    color: #000;
  }
}

.cart-dropdown-container {
  border: 3px solid #333;
  padding: 15px 15px 70px 15px;
  position: absolute;
  top: 72px;
  right: 10%;
  background-color: #fff;
  width: 25%;
  z-index: 9999;

  .cart-dropdown-items {
    margin-bottom: 15px;
  }

  .checkout-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
}

.cart-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;

  &-image {
    width: 25%;
    overflow: hidden;
  }

  &-code {
    width: 20%;
    overflow: hidden;
    text-align: left;
  }

  &-quantity {
    width: 20%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &-price {
    width: 20%;
    overflow: hidden;
    text-align: right;
  }

  &-remove {
    width: 7%;
    overflow: hidden;
    text-align: right;
    cursor: pointer;
  }

  .change-qty-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.menu-item {
  box-sizing: border-box;
  height: 300px;
  background-color: azure;
  width: 49%;
  border: none;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-box-shadow: inset -1px -1px 40px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset -1px -1px 40px 3px rgba(0, 0, 0, 0.35);
  box-shadow: inset -1px -1px 40px 3px rgba(0, 0, 0, 0.35);
}

.homepage {
  width: 100%;

  .directory-menu {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.shop {
  width: 95%;
  margin: auto;
}
